#manifesto {
    margin: 0;
    text-align: center ;

    background-color: rgba(0, 0, 0, 1);
    p, h1, h2, h3, h4, h5, h6 {
        padding: 0 1.5em;
        color: white;
        text-align: center;
    }

    ol, ul, p {
      text-align: left;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        padding: 2.5em;
        background-image: url("");
        width: 80%;
        // background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(115,112,118,0.3));
    }

    .design-manifesto {
        width: 80%;

        img {
            width: 80%;
            height: auto;
        }
    }

}


.design-manifesto {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    color: #fff;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .header-image,
  .content-image {
    max-width: 100%;
    margin: 20px 0;
  }
    
  ul {
    // list-style: none;
    text-align: center;
  }

  p,
  li {
    margin-bottom: 15px;
  }
  
  blockquote {
    font-style: italic;
    color: #ccc;
    border-left: 4px solid #2c3e50;
    padding-left: 15px;
  }
  